gevent==1.4.0
greenlet==0.4.15
llvmlite==0.28.0
numba==0.43.1
numpy==1.16.3
Pillow==6.0.0
pptree==2.0
protobuf==3.7.1
pymongo==3.8.0
python-chess==0.27.3
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboardX==1.5
torch==1.1.0
torchvision==0.2.2.post3
tqdm==4.31.1
